*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}
/* GENERALS */
.container{
  width: 90%;
  margin: 0 auto;
  height: 650px;
  /* background-color: red; */
}

.cont{
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

p{
  font-size: 0.8rem;
  padding-bottom: 30px;
}

h1{
  font-size: 4rem;
  padding-bottom: 30px;
}

h2{
  
}
h3{

}

h4{

}

.sizefont{
  font-size: 0.9rem;
}

.flex{
  display: flex;
}

.justify-content{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.wrap{
  flex-wrap: wrap;
}

.flex-end{
  justify-content: flex-end;
}

.relative{
  position: relative;
}
.pxy-10{
  padding: 10px;
}

.py-20{
  padding-top: 20px;
}

.py-30{
  padding-top: 30px;
}

.py-40{
  padding-bottom: 40px;
}

.pbottom-20{
  padding-bottom: 20px;
}

.pbottom-30{
  padding-bottom: 30px;
}

.btn{
  background-color: #0061ff;
  padding: 6px 12px;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

span{
  font-size: 0.9rem;
}

/* HEADER */

header{
  background-color: white;
  height: 700px;
  
}
.navbar{
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  width: 100%;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
}

ul li a{
  color: #131313;
  text-decoration: none;
  padding: 15px;
  
}

ul li a img{
  width: 100px;
}

.jumbo-title{
  padding-top: 100px;
}

.box-jumbo{
  background-color: #b4d0e7;
  width: 500px;
  height: 300px;
  
}

.box-jumbo.right{
  background-color: #b4d0e7;
  width: 60%;
  height: 350px;
  
}

.back{
  background-color: #b4d0e7;
  height: 560px;
}

header i{
  color: black;
  font-size: 30px;
}

.box-jumbo.right img{
  width: 800px;
  padding-left: 60px;
}
/* MAIN */
.row{
  background-color: bisque;
  border: 1px solid red;

}
.col{
  display: flex;
  background-color: bisque;
  width: calc(100% / 3);
  height: 600px;
  padding: 10px;
  padding-bottom: 40px;
  border: 1px solid blue;
  flex-direction: column;
  
}

.col > p{
  border: 2px solid #ee087b;
}

hr{
  width: 70px;
}


.checkbox{
  font-size: 0.9rem;
  padding-right: 3px;
}
.checkbox.full{
  color: #0061ff;
}
.checkbox.empty{
  color: #e4e4e6;
  padding-left: 10px;
}

span{
 
}

h5{
  border: 1px solid black;
}

.box{
  width: 500px;
  padding-top: 100px;
  margin-bottom: 50px;
}

.box-item{
  background-color: white;
  width: 500px;
  height: 300px;
  padding-top: 120px;
  padding-left: 30px;
}

.btn.black{
  color: #090909;
  border: 1px solid #090909;
  background-color: white;
}

.card{
  
  width: calc(100% / 3);
  background-color: darkcyan;
  padding: 10px;
  border: 1px soiid black;
}

img{
  width: 100%;
}

.cont-square{
  width: 20%;
  background-color: red;
}
.square{
  height: 50%;
  width: 50%;
  background-color: green;
  border: 1px solid black;
}

.ciao{
  height: 300px;
  width: 60%;
  overflow: auto;
}

.no{
  border: none;
}

.square.green{
  background-color: #a2d39b;
  
}

.square.green img{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: bisque;
}

.bb{
  filter: invert(1);
}

.free{
  height: 250px;
  background-color: #b4d0e7;
}
/* FOOTER */

.debug{
  border: 1px solid cyan;
}

.block{
  display: block;
  text-align: center;
}