*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERALS */
.container{
  width: 90%;
  margin: 0 auto;
  height: 650px;
  /* background-color: red; */
}

.cont{
  width: 80%;
  margin: 0 auto;
  background-color: grey;
}

p{

}

h1{

}

h3{

}

h4{

}

.btn{

}

.flex{
  display: flex;
}

.justify-content{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.wrap{
  flex-wrap: wrap;
}

.flex-end{
  justify-content: flex-end;
}

.relative{
  position: relative;
}
.pxy-10{
  padding: 10px;
}

/* HEADER */

header{
  background-color: white;
  height: 750px;
  
}
.navbar{
  background-color: blueviolet;
  height: 60px;
  position: fixed;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}

ul li{
  display: inline-block;
}

ul li a{
  color: grey;
  text-decoration: none;
  padding: 15px;
  
}

.jumbo-title{
  padding-top: 100px;
}

.box-jumbo{
  background-color: rosybrown;
  width: 500px;
  height: 300px;
  
}

.box-jumbo.right{
  background-color: green;
  width: 60%;
  height: 600px;
}

.back{
  background-color: #b4d0e7;
}


/* MAIN */
.row{
  background-color: bisque;
}
.col{
  display: flex;
  background-color: bisque;
  width: calc(100% / 3);
  height: 600px;
  padding: 10px;
  padding-bottom: 40px;
  
}

p{
  border: 1px solid black;
  width: 100%;
  
}

span{
 
}

h5{
  border: 1px solid black;
}

.card{
  
  width: calc(100% / 3);
  background-color: darkcyan;
  padding: 10px;
  border: 1px soiid black;
}

img{
  width: 100%;
}

.cont-square{
  width: 20%;
  background-color: red;
}
.square{
  height: 50%;
  width: 50%;
  background-color: green;
  border: 1px solid black;
}

.ciao{
  height: 300px;
  width: 60%;
  overflow: auto;
}

.no{
  border: none;
}

.square.green{
  background-color: #a2d39b;
  
}

.square.green img{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: bisque;
}

.bb{
  fill: red;
}

.free{
  height: 250px;
  background-color: #b4d0e7;
}
/* FOOTER */